body {
  background-color: black;
}
.box {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
#container {
  width: 631px;
  margin-top: 100px;
}
.wall {
  background-color: blue;
  width: 30px;
  height: 30px;
}
.espaço {
  width: 30px;
  height: 30px;
}

.lines {
  display: flex;
  
}
#n9-0 {
  width: 30px;
  height: 30px;
  left: 30px; 
  top: 30px;
}
#n8-20 {
  width: 30px;
  height: 30px;
}
.fas {
  font-size: 25px;
  color: red;
}
.far {
  font-size: 25px;
  color: red;
}
.hidden {
  display: none;
  visibility: hidden;
}
#endGame {
  color: blue;
  font-size: large;
  font-family: 'Press Start 2P', cursive;
  height: 72px;
}
#endGame h1 {
  margin-top: 30px;
}
#title {
  color: blue;
  font-family: 'Press Start 2P', cursive;
  font-size: large;
  height: 72px;
}
#title h1 {
  margin-top: 53px;
}
#button {
  width: 16vw;
  height: 10vh;
  background-color: blue;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: larger;
  border: 5px solid red;
  margin-top: 38px;
}